.banner {
    background-color: #d9455f;
    height: auto;
}

.banner__logo {
    display: flex;
    
    
}

.banner__fish_image {
    width: 20rem;
}

.banner__title {
    text-align: center;
    font-size: 40px;
}