@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";

.hidden {
    display:none;
}
.container {
    display: flex;
    flex-direction: column;  
    font-family: 'Open Sans Condensed', sans-serif;
}

.underTheBanner {
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex: 4;
    flex-direction: column;
}

.underTheBanner__right {
    flex: 1;
    border: 2px black double;
    margin: 5px;
    background-image: url("../images/ocean.jfif");

}

.customization {
    text-align: center;
    box-shadow: 10px 5px 10px;
    padding: 2px;
    background-color: whitesmoke;
}

button {
    background-color: hsla(168, 53%, 64%, 0.63);
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    transform: scale(1.1);
}

.typeChoice {
    border-radius: 2px;
    background-color: rgba(212, 84, 34, 0.623);
}
