.quoteList {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    margin: 5px;
}

.quote {
    align-content: space-between;
    background-color: #74d4c0;
    flex: 1;
    border: double 2px black;  
}

.quote:hover {
    transform: scale(1.1);
}